@model MVC_GestionVerdu.ViewModels.GastoViewModel

<h1>Gastos</h1>
<div class="row mb-3 align-items-end">
    <div class="col-md-4">
        <label for="fechaInicio" class="form-label">Desde:</label>
        <input type="date" id="fechaInicio" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="fechaFin" class="form-label">Hasta:</label>
        <input type="date" id="fechaFin" class="form-control">
    </div>
    <div class="col-md-2">
        <button id="btnFiltrar" class="btn btn-primary w-100">Filtrar</button>
    </div>
    <div class="col-md-2">
        <button id="btnLimpiarFiltro" class="btn btn-secondary w-100">Limpiar Filtro</button>
    </div>
</div>

<div class="alert alert-info mt-3">
    <strong>Total de Gastos: </strong> <span id="totalMonto">$0.00</span>
</div>

<div class="mt-3 text-center">
    <button id="btnAgregarGasto" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAgregarGasto">
        Agregar Gasto
    </button>
</div>

<div id="contenedorListadoGastos">
    @* @await Html.PartialAsync("_ListadoGastos", Model) *@
</div>



@await Html.PartialAsync("_ModalGasto")







@section Scripts {
    <script src="~/js/Gastos.js" asp-append-version="true"></script>
    
    }



