@model MVC_GestionVerdu.Models.DetallesVenta


<div class="container mt-5">
    <h2 class="text-center mb-4">Modificar Ingreso</h2>
    <form asp-action="Editar" method="post" class="border p-4 rounded bg-light shadow-sm">

        <input type="hidden" asp-for="IdDetalleVenta" />
       
        <div class="form-group">
            <label asp-for="Fecha"></label>
            <input asp-for="Fecha" class="form-control" type="date" required>
        </div>

        <div class="form-group">
            <label asp-for="MetodoPagoId"></label>
            <select asp-for="MetodoPagoId" asp-items="@(new SelectList(ViewBag.MetodoPago, "IdMetodoPago", "Descripcion"))" class="form-control" required>
                <option value="">Seleccionar</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Concepto"></label>
            <input asp-for="Concepto" class="form-control" placeholder="Descripción del ingreso" required>
        </div>

        <div class="form-group">
            <label asp-for="Monto"></label>
            <input asp-for="Monto" class="form-control" type="number" step="0.01" placeholder="Ingrese el monto" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Modificar Ingreso</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary btn-lg ml-2">Cancelar</a>
        </div>


        @if (TempData["MensajeVentaEditado"] != null)

        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["MensajeVentaEditado"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


    </form>
</div>