@model MVC_GestionVerdu.ViewModels.VentaViewModel


    <h1>Ingresos</h1>

<div class="row mb-3 align-items-end">
    <div class="col-md-2">
        <label for="filtroMetodoPago" class="form-label">Método de Pago:</label>
        <select id="filtroMetodoPago" class="form-select">
            <option value="">Todos</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Transferencia">Transferencia</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="fechaInicio" class="form-label">Desde:</label>
        <input type="date" id="fechaInicio" class="form-control">
    </div>
    <div class="col-md-3">
        <label for="fechaFin" class="form-label">Hasta:</label>
        <input type="date" id="fechaFin" class="form-control">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary w-100" id="btnFiltrar">Filtrar</button>
    </div>
    <div class="col-md-2">
        <button id="btnLimpiarFiltro" class="btn btn-secondary w-100">Limpiar Filtro</button>
    </div>
</div>

<div class="alert alert-info mt-3">
    <strong>Total de Ingresos: </strong> <span id="totalIngresos">$0.00</span>
</div>

<div class="mt-3 text-center">
    
    <button id="btnAgregarIngreso" class="btn btn-success">Agregar Ingreso</button>
</div>


<div id="contenedorListadoVentas">
    @* @await Html.PartialAsync("_ListadoVentas", Model) *@
</div>


@await Html.PartialAsync("_ModalIngreso", Model)



@section Scripts {
    <script src="~/js/Ingresos.js" asp-append-version="true"></script>
   
}
